<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <link href="{{ url_for('static', filename='css/jquery.enhsplitter.css') }}" rel="stylesheet" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>{% block title %}{% endblock %} - {{title}}</title>
</head>

<body class="darken-3 blue-grey">
    <header>
        <ul id="slide-out" class="sidenav">
            {% if has_permition('split') %}
            <li><a href="{{ url_for('split') }}">Sala de aula</a></li>
            {% endif %}
            {% if has_permition('users') %}
            <li><a href="{{ url_for('users') }}">Usuários</a></li>
            {% endif %}
            {% if has_permition('edit_password') %}
            <li><a href="{{ url_for('edit_password') }}">Trocar senha</a></li>
            {% endif %}
            {% if session['user_id'] == 'guest' %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
            {% endif %}
        </ul>
        <nav style="height: 35px;">
            <div class="nav-wrapper red darken-4">
                <span class="brand-logo left center" style="font-size: 1.3rem;line-height: 2.3rem;">
                    {{title}}
                </span>
                <div class="nav-mobile left">
                    <span data-target="slide-out" class="sidenav-trigger">
                        <i class="material-icons" style="font-size: 1.3rem;line-height: 2.3rem;">menu</i>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div id="warning" class="modal">
        <div class="modal-content">
            <h4 id="warning-title"><i class="material-icons red-text text-darken-2">warning</i> Atenção</h4>
            <p id="warning-text">A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close red darken-3 btn waves-effect waves-red" id="warning-close">Continuar</a>
            <a class="modal-close btn waves-effect waves-green">Sair</a>
        </div>
    </div>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <!-- Flash message divs -->
            {% with warning_messages = get_flashed_messages(category_filter=["warning"]) %}
            {% if warning_messages %}
            <div class="card orange lighten-5 col s12" id="warning-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="Fechar"
                            onclick="$('#warning-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title orange-text">Warning</span> -->
                    {% for message in warning_messages %}
                    <p class="orange-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}

            {% with success_messages = get_flashed_messages(category_filter=["success"]) %}
            {% if success_messages %}
            <div class="card green lighten-5 col s12" id="success-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="Fechar"
                            onclick="$('#success-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title green-text">Success</span> -->
                    {% for message in success_messages %}
                    <p class="green-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}

            {% with error_messages = get_flashed_messages(category_filter=["error"]) %}
            {% if error_messages %}
            <div class="card red lighten-5 col s12" id="error-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="Fechar"
                            onclick="$('#error-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title red-text">Error</span> -->
                    {% for message in error_messages %}
                    <p class="red-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.highlight.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.enhsplitter.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>