{% extends "base.html" %}
{% block title %}Edit Password{% endblock %}
{% block content %}
<div class="container white" style="margin-top: 40px;">
    <div class="row">
        <div class="col s12">
            <h5>Mudar senha de {{ user['name'] }}</h5>
        </div>
        <form method="POST" action="{{ url_for('edit_password', user_id=user['id']) }}">
            {% if session.user.role != 'admin' %}
            <div class="input-field col s12">
                <input id="old_password" type="password" name="old_password" required>
                <label for="old_password">Senha antiga</label>
            </div>
            {% endif %}
            <div id="new" class="input-field col s12">
                <input id="new_password" type="password" name="new_password" required>
                <label for="new_password">Nova Senha</label>
            </div>
            <div id="text" class="input-field col s12 hidden">
                <input id="new_password_text" type="text" name="new_password_text">
                <label for="new_password_text">Nova Senha</label>
            </div>
            <div id="check" class="input-field col s12">
                <input id="password_check" type="password" name="password_check" required>
                <label for="password_check">Confirmação da Senha</label>
            </div>
            <div id="random" class="col s12">
                <button class="btn btn-wide waves-effect waves-light" type="button" onclick="generateRandomPassword()">
                    Gerar Senha Aleatória<i class="material-icons right">loop</i>
                </button>
            </div>
            <div class="input-field col s12">
                <button class="btn btn-wide waves-effect waves-light" type="submit" name="action">
                    Mudar senha<i class="material-icons right">save</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}