{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col s12 m8 offset-m2 card">
            <div class="card-content">
                <span class="card-title">Login</span>
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="input-field">
                        <input id="username" type="text" name="username" required>
                        <label for="username">Usuário</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" name="password" required>
                        <label for="password">Senha</label>
                    </div>
                    <input type="hidden" name="redirect" value="{{redirect}}">
                    <button class="btn btn-wide waves-effect waves-light red darken-4" type="submit" name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}