{% extends "base.html" %}
{% block title %}Sala de Aula{% endblock %}
{% block content %}
<!-- <div id="split" style="width: 100%; height:100vh;"> -->
<div id="split">
    <div id="demoOneA" style="overflow: hidden;">
        <iframe width="100%" height="100%" src="{{code_url}}/?folder=/config/workspace"
            allow="clipboard-read clipboard-write self {{code_url}}"></iframe>
    </div>
    <div id="demoOneB" style="overflow: hidden;">
        <iframe id="rocket" width="100%" height="100%" src="{{chat_url}}"
            allow="clipboard-write clipboard-read self {{rocket_url}}" onload="loginrocket();"></iframe>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    jQuery(function ($) {
        $('#split').enhsplitter({ handle: 'bar', position: '70%' });
    });
</script>
<script>
    function loginrocket() {
        document.querySelector('#rocket').contentWindow.postMessage({
            event: 'login-with-token',
            loginToken: '{{token["authToken"]}}'
        }, '{{rocket_url}}/login');
    }
</script>
{% endblock %}